<footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col footer-imgtxt">
                    <a><img class="img-footer" src="https://i.postimg.cc/NGKKpnDc/LOGO-AMARELO.png"></a>
                    
                    <span style="font-size: 10px;">LENO SOM COMERCIO VAREJISTA<br>
                                 DE ELETRODOMESTICOS DE AUDIO E VIDEO LTDA<br>
                                       CNPJ 17.003.347/0001-90
                    </span>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>FALE CONOSCO</h4>
                    <ul class="footer-col-ul">
                        <li>
                          <a href="tel:75999399221">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M11.9844 15.9995C10.94 15.8961 10.0217 15.6019 9.13858 15.1974C6.8948 14.1693 5.02125 12.6541 3.39932 10.817C2.20477 9.46381 1.18706 7.99125 0.555063 6.29111C0.310384 5.63238 0.17095 4.93314 0.0144193 4.24509C-0.022977 4.08041 0.0149536 3.86243 0.0982939 3.71266C0.834467 2.38933 1.78059 1.23441 2.96018 0.276688C3.49495 -0.157673 4.00781 -0.0564108 4.36575 0.411526C5.23868 1.55259 6.04003 2.74641 6.56144 4.10066C6.71744 4.50624 6.64959 4.87238 6.33546 5.17244C6.03362 5.46077 5.71789 5.73471 5.39895 6.00385C5.27661 6.10671 5.25524 6.20051 5.31294 6.34814C6.12284 8.4336 7.57328 9.87632 9.66266 10.6848C9.81065 10.7418 9.90574 10.7173 10.0072 10.5953C10.2514 10.3016 10.5046 10.0154 10.761 9.73295C11.096 9.36415 11.5186 9.22984 11.9641 9.45582C12.8248 9.89231 13.6678 10.3645 14.5066 10.842C14.8447 11.0344 15.1605 11.2705 15.4735 11.5034C15.9618 11.8669 16.2487 12.4329 15.707 13.0783C14.7544 14.2135 13.624 15.1334 12.3413 15.87C12.2147 15.9424 12.063 15.9718 11.9839 16L11.9844 15.9995Z" fill=" #FCB900"/>
                            </svg>
                            (75) 99939-9221
                           </a>
                        </li>
                        <li>
                          <a href="mailto:matheusbrazil@lsdistribuidora.com.br">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                              <path d="M7.92689 12.6633C5.89756 12.6633 3.86623 12.6713 1.8369 12.6613C0.575311 12.6553 0.0114962 12.0995 0.00749753 10.8539C-0.00249918 7.82493 -0.00249918 4.79392 0.00749753 1.76492C0.0114962 0.581309 0.587307 0.00949688 1.78291 0.00749753C5.94154 -0.00249918 10.1022 -0.00249918 14.2608 0.00749753C15.3944 0.0114962 15.9842 0.593305 15.9902 1.71294C16.0042 4.77593 16.0022 7.83892 15.9902 10.9019C15.9862 12.0835 15.4064 12.6533 14.2128 12.6613C12.1175 12.6753 10.0202 12.6653 7.92289 12.6653L7.92689 12.6633ZM1.71294 1.67695C1.37505 2.7386 1.72893 3.29841 2.59065 3.77826C4.21011 4.68196 5.7676 5.69563 7.32509 6.7013C7.80693 7.01319 8.17081 7.03119 8.66465 6.71329C10.2521 5.68963 11.8436 4.66996 13.4871 3.74027C14.3528 3.25043 14.5947 2.66462 14.2788 1.68894C12.3654 2.86856 10.5 3.99619 8.66265 5.1698C8.17681 5.4817 7.82892 5.4837 7.33908 5.1698C5.50369 3.99219 3.6363 2.86456 1.70894 1.67495L1.71294 1.67695Z" fill="#FCB900"/>
                            </svg> 
                             matheusbrazil@lsdistribuidora.com.br
                          </a>
                        </li>
                        <li>
                          <a href="https://maps.app.goo.gl/1Geqj8S1xdvqbUeW9">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="17" viewBox="0 0 12 17" fill="none">
                              <path d="M12 5.8668C11.9602 7.18668 11.5888 8.31226 11.085 9.40125C10.0164 11.7112 8.53505 13.751 6.91921 15.7017C6.75473 15.9001 6.5918 16.1011 6.41594 16.2893C6.1625 16.5609 5.81957 16.5743 5.58009 16.2954C3.60581 14.0005 1.80221 11.5901 0.633263 8.77249C0.18689 7.6969 -0.0924166 6.5806 0.028099 5.39059C0.281544 2.89308 2.06704 0.822812 4.50942 0.190961C7.55903 -0.59808 10.7204 1.12173 11.7124 4.17482C11.7838 4.39437 11.8495 4.61856 11.8841 4.84584C11.941 5.21846 11.9705 5.5952 12 5.86731V5.8668ZM2.98875 5.97709C2.99237 7.64949 4.33304 8.97503 6.01508 8.96885C7.67541 8.96318 9.00418 7.62423 9.00004 5.96163C8.9959 4.29902 7.66506 2.97039 5.99957 2.96626C4.32787 2.96214 2.98513 4.30469 2.98875 5.97709Z" fill="#FCB900"/>
                            </svg>
                            R. Roque Azevedo, s/n <br>
                            Elísio Medrado Bahia | Cep: 45305-000
                          </a>
                        </li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col col-wmax">
                    <h4>INSTITUCIONAL</h4>
                   <ul>
                        <li><a href="https://lsdistribuidora.mercadoshops.com.br/noindex/additional_info/MLB716835974?new_version=true&modal=false&newIndex=true" target="_blank"> Politica de entrega </a></li>
                        <li><a href="https://lsdistribuidora.mercadoshops.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true" target="_blank"> Compra garantida </a></li>
                        <li><a href="https://produto.mercadolivre.com.br/noindex/freeReturn/fashion?itemId=MLB716835974&quantity=1&new_version=true&modal=false&controlled=true&_ga=2.108320386.1496364288.1686762467-262944962.1686762467" target="_blank"> Trocas e Devoluções </a></li>
                        <li><a href="https://lsdistribuidora.com.br/empresa/termos-e-condicoes" target="_blank"> Políticas do Site </a></li>
                        <li><a href="https://www.mercadolivre.com.br/privacidade" target="_blank"> Políticas de Privacidade </a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col gap col-wmax">
                  <h4>MEIOS DE PAGAMENTO</h4>
                    <a><img src="https://i.postimg.cc/W4PJBHgK/bandeiras-1-1.png"></a>
                    <a href="#show-modal" class="p-coluna4"><p>Saiba mais...</p></a>
                </div>

                 <div class="footer-col gap col-wmax">
                  <h4>REDES SOCIAIS</h4>
                    <div class="social-apps">
                        <a href="https://api.whatsapp.com/send?phone=557599399221&text=Ol%C3%A1%21+estou+na+loja+Ls+Distribuidora+e+gostaria+de+mais+informa%C3%A7%C3%B5es.">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M1.3136 23.7377C1.3893 23.1341 1.45335 22.578 1.52905 22.0249C1.60475 21.46 1.69791 20.898 1.77652 20.333C1.87842 19.6194 1.94538 18.8968 2.07931 18.1891C2.14045 17.8591 2.14627 17.5766 1.98906 17.2793C1.43297 16.2207 1.07195 15.0819 0.885621 13.9073C0.740049 12.9915 0.673086 12.04 0.74296 11.1182C0.914735 8.85835 1.62804 6.77096 2.95565 4.92443C3.94845 3.54176 5.1567 2.42075 6.60951 1.5525C7.7537 0.868595 8.99106 0.42852 10.275 0.175773C11.3027 -0.0264238 12.3538 -0.0412912 13.4135 0.0657543C14.3714 0.163879 15.3031 0.336342 16.2114 0.651531C17.5536 1.11837 18.7706 1.80822 19.8624 2.73594C21.8858 4.45165 23.1901 6.62526 23.7986 9.22706C23.9326 9.80392 23.9937 10.4016 24.0228 10.9963C24.0607 11.7129 24.0956 12.4384 24.017 13.1461C23.8918 14.3147 23.6036 15.4476 23.1436 16.5359C22.4594 18.1594 21.4782 19.5718 20.1914 20.7315C18.6483 22.1231 16.8811 23.0924 14.8343 23.5474C13.629 23.815 12.4236 23.8626 11.2183 23.7912C10.0537 23.7228 8.92119 23.3987 7.85851 22.8902C7.48294 22.7118 7.12774 22.6345 6.7085 22.7267C5.64705 22.9621 4.58302 23.1843 3.51813 23.4031C2.98238 23.5131 2.44642 23.6222 1.91045 23.7317C1.7445 23.7644 1.56399 23.7377 1.31069 23.7377H1.3136ZM3.70098 21.2281C3.77086 21.2281 3.85238 21.2399 3.92807 21.2281C4.99657 21.014 6.06798 20.8118 7.13065 20.5679C7.46838 20.4906 7.75952 20.5025 8.05649 20.672C9.07841 21.2548 10.1906 21.6146 11.3406 21.7127C12.7061 21.8317 14.0773 21.7365 15.3991 21.2727C17.4168 20.565 19.0879 19.3666 20.3049 17.5707C21.6267 15.623 22.2235 13.4673 22.0081 11.0825C21.9266 10.1875 21.7461 9.32816 21.4462 8.48072C20.7678 6.56877 19.5916 5.05824 17.9816 3.88371C16.4647 2.7746 14.7528 2.23343 12.9128 2.09664C11.8035 2.01339 10.703 2.15017 9.64614 2.49212C7.69256 3.1225 6.06216 4.23755 4.80442 5.92055C3.51465 7.64814 2.87996 9.59875 2.77514 11.7426C2.75185 12.2422 2.85375 12.7447 2.90616 13.2472C3.03717 14.5407 3.49427 15.7241 4.09985 16.857C4.18137 17.0116 4.24542 17.2109 4.23086 17.3804C4.18719 17.8769 4.09985 18.3735 4.02997 18.8671C3.92225 19.6462 3.81744 20.4282 3.7068 21.234L3.70098 21.2281Z" fill="#FCB900"/>
                            <path d="M8.69116 6.03051C8.83382 6.03051 8.8804 6.03051 8.92698 6.03051C9.55876 6.01267 9.57914 6.00375 9.84409 6.68765C10.1148 7.38345 10.307 8.11195 10.5603 8.81369C10.6913 9.17943 10.5603 9.45002 10.3478 9.70574C10.1731 9.91388 9.98383 10.1131 9.77712 10.2885C9.52383 10.5026 9.49471 10.7554 9.64902 11.0081C10.0188 11.6088 10.3652 12.2332 10.8136 12.7684C11.4425 13.5177 12.1732 14.1719 13.0146 14.6834C13.5736 15.0253 14.1093 14.8588 14.5956 14.1808C14.7586 13.9549 14.9187 13.717 15.1196 13.5326C15.2099 13.4494 15.434 13.4226 15.5418 13.4791C16.3715 13.9221 17.1896 14.389 18.0019 14.8588C18.0689 14.8974 18.1126 15.0253 18.1213 15.1175C18.2203 16.1404 17.7253 16.8451 16.9101 17.3357C16.0105 17.8769 15.0556 17.8174 14.0948 17.523C12.7002 17.0978 11.5065 16.3188 10.3943 15.3851C8.79597 14.0441 7.67506 12.3611 6.87151 10.4313C6.23973 8.91182 6.5396 7.49644 7.63139 6.37841C7.97203 6.03051 8.35634 6.00672 8.68242 6.03348L8.69116 6.03051Z" fill="#FCB900"/>
                          </svg>
                        </a>
                        <a href="https://www.instagram.com/lsdistribuidoraa">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M0.0175227 12.047C0.0175227 10.3077 -0.0354129 8.56337 0.0427301 6.82658C0.0754998 6.06784 0.322533 5.30153 0.564524 4.57051C0.942636 3.42862 1.68373 2.50854 2.58364 1.73215C3.54152 0.907871 4.67082 0.431451 5.91354 0.181897C6.80589 0.000403316 7.69571 0.00544481 8.59309 0.00544481C11.2827 0.00544481 13.9724 -0.00967966 16.6595 0.0104863C17.9072 0.0205693 19.1197 0.257519 20.2515 0.814604C21.6606 1.50781 22.7269 2.55896 23.4378 3.95545C23.8184 4.70411 24.0805 5.50319 24.1612 6.34512C24.2141 6.89716 24.2797 7.4492 24.2822 8.00377C24.2948 10.9001 24.3175 13.799 24.2772 16.6953C24.252 18.4523 23.8159 20.1159 22.6891 21.515C21.6657 22.7854 20.3498 23.6425 18.7441 24.0181C18.0156 24.1895 17.2821 24.2827 16.5284 24.2777C13.3497 24.2651 10.1686 24.3205 6.99242 24.2525C5.43964 24.2197 3.99526 23.6929 2.76513 22.6821C1.93833 22.004 1.25269 21.215 0.788871 20.247C0.463694 19.5689 0.272118 18.8556 0.135998 18.1145C-0.0505374 17.1062 0.0351679 16.0928 0.0200434 15.0795C0.00491898 14.0687 0.0175227 13.0579 0.0175227 12.047ZM2.01899 12.1151C2.01899 13.9603 2.01647 15.8055 2.02404 17.6481C2.02404 17.88 2.06437 18.117 2.12487 18.3413C2.44248 19.5311 3.05502 20.5344 4.05828 21.2654C4.90273 21.883 5.84044 22.2687 6.90672 22.2661C9.93917 22.2661 12.9716 22.2636 16.0066 22.2586C16.7679 22.2586 17.5291 22.3191 18.2879 22.1477C19.3113 21.9183 20.1835 21.4141 20.8918 20.6755C21.8976 19.6269 22.2984 18.3212 22.2883 16.8818C22.2681 13.4587 22.248 10.0355 22.2228 6.6098C22.2228 6.36528 22.2228 6.10817 22.1522 5.87626C21.7237 4.46212 20.9195 3.35299 19.5987 2.61442C18.724 2.12539 17.7837 2.017 16.8384 2.01448C13.4254 2.0044 10.0098 2.02456 6.59667 2.07246C5.05397 2.09262 3.8793 2.8917 2.98948 4.08905C2.32148 4.98896 1.98118 6.01742 2.00891 7.17192C2.04924 8.81797 2.01899 10.464 2.01899 12.1126V12.1151Z" fill="#FCB900"/>
                            <path d="M12.0895 6.69821C15.1547 6.50916 17.4209 9.28197 17.6175 11.6212C17.9174 15.1805 14.8774 17.8223 11.8072 17.6559C9.31162 17.5223 6.47579 15.241 6.64216 11.7952C6.76063 9.28954 9.08224 6.52932 12.092 6.69821H12.0895ZM15.7194 12.1254C15.6538 10.1214 14.1867 8.49046 11.9231 8.59129C9.95694 8.67952 8.56044 10.1239 8.55036 12.2035C8.54028 14.0134 10.0477 15.8813 12.4147 15.7023C14.1943 15.5687 15.6765 14.1596 15.7219 12.1254H15.7194Z" fill="#FCB900"/>
                            <path d="M18.6786 4.13462C19.5357 4.06656 20.1583 4.8858 20.1709 5.47566C20.1886 6.39573 19.4122 7.06372 18.6635 7.07129C17.9174 7.07885 17.2242 6.33775 17.2191 5.54876C17.2141 4.83287 17.8972 4.09933 18.6786 4.1321V4.13462Z" fill="#FCB900"/>
                          </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UC6DEuAKCzFpNvghXkIPUI2A">
                          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
                            <path d="M28.7795 4.0604C28.4575 2.8564 27.5083 1.9072 26.3043 1.5852C24.1203 1 15.3647 1 15.3647 1C15.3647 1 6.60915 1 4.42515 1.5852C3.22115 1.9072 2.27195 2.8564 1.94995 4.0604C1.36475 6.2444 1.36475 12.2 1.36475 12.2C1.36475 12.2 1.36475 18.1556 1.94995 20.3396C2.27195 21.5436 3.22115 22.4928 4.42515 22.8148C6.60915 23.4 15.3647 23.4 15.3647 23.4C15.3647 23.4 24.1203 23.4 26.3043 22.8148C27.5097 22.4928 28.4575 21.5436 28.7795 20.3396C29.3647 18.1556 29.3647 12.2 29.3647 12.2C29.3647 12.2 29.3647 6.2444 28.7795 4.0604ZM12.5647 17.0496V7.3504L20.9647 12.2L12.5647 17.0496Z" stroke="#FCB900" stroke-width="1.91453" stroke-linejoin="round"/>
                          </svg>
                        </a>
                    </div>
                    <span class="footer-col-span">
                            Atendimento disponível das<br>
                            8 às 18 hrs de segunda a sexta.
                    </span>
                </div>
                <!--end footer col-->
            </div>
        </div>
        
        
        <div class="footer-bottom border-top">
          <span>Desenvolvedor com ❤️ por:</span>
          <img src="https://i.postimg.cc/fLfk94f4/1-2-1-2.png">
        </div>
    </footer>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS5PGG7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



